#Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#Menu a{
    color: white;
    font-size: 25px;
}
.menuBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menuBody img{
    max-width: 100%;
}